.image-slider-container {
    align-items: center;
    max-height: 600px;
    // width: auto;
}
.image-slider {
    max-width: 100% !important;
    height: auto !important;
    vertical-align: middle;
    border-radius: 20px;
    border: 0;
    font-size: 0;
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
