* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    path {
        pointer-events: none;
    }
}

body,
html {
    background-image: '#fff';
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $fontmain;
    font-size: $base-size - 2px;
    min-height: 100%;
    text-rendering: optimizespeed;

    // scroll
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar * {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.12);
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    button,
    input,
    [tabindex] {
        outline: none;
        border: none;
    }

    a[href] {
        text-decoration: none;
    }
}

.content-container {
    .title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $base-size + 4px;
        margin-top: 15px;
        color: $colormain;
    }
    .content {
        margin: 15px 30px;
        box-shadow: 2px 2px 4px 0 $box-shadow-color;
        -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
    }
}
