.home-page {
    min-height: 500px;
    margin: 0 200px;
    .banner {
        display: flex;
        flex-wrap: wrap;
        height: 600px;
        .banner-slider {
            flex: 1;
            max-width: 60%;
            margin-right: 2%;
        }
        .banner-image {
            flex: 1;
            max-width: 40%;
            border-radius: 10px;
            span {
                height: 43%;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                border-radius: 20px;
                + span {
                    margin-top: 3%;
                }
            }
            .banner-image-1 {
                background-image: url(../../assets/banner/image1.jpg);
            }
            .banner-image-2 {
                background-image: url(../../assets/banner/image2.png);
            }
        }
    }
}
